
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
  integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
  <router-outlet></router-outlet>
  <svg version='1.1' xmlns='http://www.w3.org/2000/svg'>
    <defs>
      <filter id='goo'>
        <fegaussianblur in='SourceGraphic' result='blur' stddeviation='10'></fegaussianblur>
        <fecolormatrix in='blur' mode='matrix' result='goo' values='1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7'>
        </fecolormatrix>
        <feblend in2='goo' in='SourceGraphic'></feblend>
      </filter>
    </defs>
  </svg>

        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>
        <span class='particle'></span>

