
      <div class="header">
        <h1>Hey 👋 I'm Sneha,<br> a developer</h1>
        <h3>I am a software engineer</h3>
        <h3>

          <button class="btn default" (click)="projectsClick()">
            <div class="icon"><i class="fas fa-diagram-project"></i> Projects</div>
          </button>

          <a href="https://github.com/SnehaPatil02">
            <button class="btn default">
              <i class="fa-brands fa-github"></i> GitHub
            </button></a>

          <a href="https://www.linkedin.com/in/sneha-patil-o2o9/">
            <button class="btn default">
              <div class="icon"><i class="fa-brands fa-linkedin"></i> LinkedIn</div>
            </button></a>
        </h3>
      </div>
    